[core]
        editor = vim
	excludesfile = ~/hamadatomoki/.gitignore_global
[color]
	ui = true
[alias]
	see = browse
	pr = pull-request
	co = checkout
	pl = pull
	psh = push
	st = status
	sw = switch
	br = branch
	ci = commit
	switch = sw
	l = log
	lo = log --oneline
	lg = log --graph --oneline --decorate=full
[user]
	name = HamadaTomoki
	email = hamada.tomoki01@gmail.com
[init]
	defaultBranch = main
[commit]
	template = ~/config/git/.gitemoji
[ghq]
  root = ~/IdeaProjects/kotlin-playground
  root = ~/IdeaProjects/kotlin-server-side
  root = ~/config
  root = ~/AndroidStudioProjects/android-st31
  root = ~/Documents/md
