[core]
	excludesfile = /Users/hamadatomoki/.gitignore_global
[color]
	ui = true
[alias]
	see = browse
	pr = pull-request
	co = checkout
	st = status
	sw = switch
	br = branch
	ci = commit
	switch = sw
[user]
	name = HamadaTomoki
	email = hamada.tomoki01@gmail.com
[filesystem "AdoptOpenJDK|11.0.7|/dev/disk1s1"]
	timestampResolution = 14000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[https]
	proxy = 
[init]
	defaultBranch = master
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/hamadatomoki/.stCommitMsg
