layout {
    pane split_direction="vertical" size="80%" {
        pane {
            edit "src/main.rs"
            size "70%"
            focus true
        }        
        pane {
          edit "Cargo.toml"
          size "30%"
        }
    }
    pane split_direction="vertical" size="20%" {
        pane command="bash" {
            args "-c" "trunk serve"
        }
        pane command="cargo" {
            args "test"
        }
    }
}
